h2 { 
	text-align : center;
	color : white; 
	text-decoration : underline;
	text-transform : uppercase;
	font-weight : bold;
	font-size : 30px;

}
h1 { 
	text-align : left;
	color : red;
	margin-left : 65px;
	margin-top : 40px;
	text-transform : uppercase;
	border-style : double ;
	border-width : thin;
	background-color : black;
	
}
.db {
	word-spacing: 400px;
	margin-left : 0px;
	margin-top : 40px;
	border-style : double ;
	border-width : medium;
	display: flex ;
	flex-direction : row;
	flex-wrap : wrap;
	justify-content: space-between;
	background-color : black;
	font-size : 20px
	}
.img {
	width: 1800px;
    height: 800px;
	text-align : center;
	display: flex ;
	flex-direction : row;	
	justify-content: space-evenly;
	align-items : center;
	}

.image2 {
	width: 1680px;
	height: 1000px;
	text-align : center;
	display: flex ;
	flex-direction : row;	
	justify-content: space-evenly;
	align-items : center;
	}
body { 
		
	background-image:  url(https://th.bing.com/th/id/R.6c172fefd04528726a997a34dcc0dfc8?rik=eN0lg7h0p94fGw&riu=http%3a%2f%2fmiam-images.m.i.pic.centerblog.net%2fo%2ffd5b9df2.jpg&ehk=DFCPoUy82gA0dkqQDL5ltAkf%2fNJqSOLoYBH9nJzuNFA%3d&risl=&pid=ImgRaw&r=0);
	background-repeat:repeat;

	}
h3{
	background-color: black;
	color : white;
	font-size : 25px;
	text-transform: uppercase;
}











